# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#
build/*
data/*
*.map
*.elf
WTF/*
test/*
testcpp/*

# Eclipse
.settings/*
.cproject
.project
/Release
